<div class="row" ng-controller="ChoroplethController as vm">
    <div class="col-md-3">
        <h2>Datasets</h2>
        <select class="form-control"
            ng-options="dataset for dataset in vm.data.datasets"
            ng-model="vm.currentDataset">
        </select>
    </div>
    <div class="col-md-9">
        <p class="well" ng-hide="vm.currentDataset">Choose Dataset to visualize.</p>
        <h2>{{ vm.currentDataset }}</h2>
        <div id="map" map db="vm.data" dataset="vm.currentDataset"></div>
        
    </div>
</div>
