<div class="row" ng-controller="CountyController as vm">
    <div class="col-md-3">
        <h2>Counties</h2>
        <select class="form-control"
            ng-options="county as county.name for (id, county) in vm.data.counties"
            ng-model="vm.currentCounty">
        </select>
    </div>
    <div class="col-md-9">
        <p class="well" ng-hide="vm.currentCounty">
            Select a county to view details.
        </p>
        <h2>{{ vm.currentCounty.name }}</h2>
        <table class="table table-striped table-responsive">
            <tr>
                <th>Dataset</th>
                <th>Value</th>
                <th>Rank</th>
            </tr>
            <tr ng-repeat="dataset in vm.data.datasets">
                <td>{{ dataset }}</td>
                <td>{{ vm.data.data[dataset][vm.currentCounty.id] }}</td>
                <td>{{ vm.rank(dataset) }}</td>
            </tr>
        </table>
        <hr>
        <div countyrankchart db="vm.data" county="vm.currentCounty"></div>
    </div>
</div>