@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
    font-family: 'Titillium Web', sans-serif;
}


.selection-list-item {
    cursor: pointer;
}

.selection-list-item:hover {
    background-color: #E0F4F5;
}

.selection-list-item.selected {
    background-color: #A5DBED;
}